<!DOCTYPE html>
<html>
  <head>
    <title>New Game</title>
  </head>

  <body class="clearfix">
    <header>
      <h1>New Game</h1>
    </header>

    <%unless session[:player_score] == 3 || session[:computer_score] == 3 %>

    <form action="/index" method="post">
      <label for="user_input">Player Options</label>
      <select id="user_input" name="user_input">
        <option value = "rock">Rock</option>
        <option value = "paper">Paper</option>
        <option value = "scissors">Scissors</option>
      </select>
      <input type="submit">
    </form>
    <% end %>

    <h4>Player score = <%=session[:player_score]%> </h4>
    <h4>Computer score = <%=session[:computer_score]%> </h4>

  <% if session[:visit_count] > 1 %>
    <h2>Your choice was: <%=session[:user_input]%> </h2>
    <h2>Computer's choice was: <%=session[:computer_input]%></h2>
    <%end%>





<br>
    <p><a href="/reset">Play Again</a></p>
  </body>
</html>
